.navigation{
   
      /* background: linear-gradient(90deg, rgb(48, 46, 44) 0%, rgb(151, 155, 167) 100%); */
      margin-top:350px;
      display:flex;
      justify-content:center;
      text-align:center;
      
      color:rgb(243, 231, 233);
     height: 500px;
     width:1000px;
     margin:300px;
     align-items: center;
     font-size: 1.2rem;
     position: sticky;
     top: 0;
     border-radius: 30px;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
     background-color: #004b96;
     opacity: 0.85;
   
}
.home-navigation {
      background-image:url('https://image.shutterstock.com/image-vector/home-icon-260nw-656554627.jpg');
      
      background-repeat: no-repeat;
      background-size:160px;
      /* border:2px solid rgb(31, 29, 29); */
      margin-right:20px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
      height: 200px;
      width:190px;
      
      background-color:#fff;
      
      
}
.add-navigation{
      background-repeat: no-repeat;
      background-size:160px;
      /* border:2px solid rgb(31, 29, 29); */
      margin-right:20px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
      height: 200px;
      width:190px;
      background-color:#fff;

}
.user-navigation{
      background-repeat: no-repeat;
      background-size:160px;
      /* border:2px solid rgb(31, 29, 29); */
      margin-right:20px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
      height: 200px;
      width:190px;
      background-color:#fff;

}
.swipe-navigation{
      background-repeat: no-repeat;
      background-size:160px;
      /* border:2px solid rgb(31, 29, 29); */
      margin-right:20px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
      height: 200px;
      width:190px;
      background-color:#fff;
}
.device-navigation{
      background-repeat: no-repeat;
      background-size:160px;
      /* border:2px solid rgb(31, 29, 29); */
      margin-right:20px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
      height: 200px;
      width:190px;
      background-color:#fff;
}
.login-navigation{
      background-repeat: no-repeat;
      background-size:160px;
      /* border:2px solid rgb(31, 29, 29); */
      margin-right:20px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
      height: 200px;
      width:190px;
      background-color:#fff;
}