.login-header{
   border:5px solid rgb(151, 41, 41);
   background-color:#a0d2eb;
   margin: 230px;
   margin-left:580px;
   padding:150px;
   padding-left:300px;
}
.username-row Col Form.Group{
   border:2px solid red;
}