.login-header{
   background-color: #004b96;
   opacity: .90;
   border-radius: 30px;
   margin: 230px;
   margin-left:580px;
   padding:150px;
   padding-left:300px;
}
.username-row Col Form.Group{
   border:2px solid red;
}