body {
  background-image: url('https://media-private.canva.com/WGYbs/MAFS7kWGYbs/1/s3.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20221124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221124T165425Z&X-Amz-Expires=97509&X-Amz-Signature=570eead40f3a2038476c82763794d80c112016738531d47d704ab5c7dde76beb&X-Amz-SignedHeaders=host&response-expires=Fri%2C%2025%20Nov%202022%2019%3A59%3A34%20GMT');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
